@{
  Layout = "_Layout";
}

@using ToDoList.Models;
@using System.Security.Claims
@model IEnumerable<ToDoList.Models.Item>

<h1>Items for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Item item in Model)
    {
      <li>@Html.ActionLink($"{item.Description}", "Details", new { id = item.ItemId })</li>
    }
  </ul>
} 
else
{
  <h3>No items have been added yet!</h3>
}

<p>@Html.ActionLink("Add new item", "Create")</p>

<p>@Html.ActionLink("Home", "Index", "Home")</p>